<div class="form_container">
    <div class="width">
        <div class="form_border">
            <div class="title_form">
                <p>Inquiry Form</p>

                <form method="post" (ngSubmit)="inquiryForm.form.valid && SubmitinquiryForm()" #inquiryForm="ngForm"
                     enctype="multipart/form-data" novalidate>

                    <div class="padding_label">
                        <label class="text_color" for="name">Name:</label>
                        <input placeholder="Enter your name" type="text" id="name" name="name"
                            [(ngModel)]="inquiry_obj.name" #name="ngModel" autocomplete="off" maxlength="50" required
                            appOnlyAlpha class="border_input"
                            [ngClass]="{ 'is-invalid': inquiryForm.submitted && name.invalid }" />
                    </div>


                    <div class="padding_label">
                        <label class="text_color" for="email">Email Address:</label>
                        <input placeholder="Enter your email" type="email" id="email_address" name="email_address"
                            [(ngModel)]="inquiry_obj.email_address" #email_address="ngModel" autocomplete="off"
                            [pattern]="emailPattern" maxlength="250" required
                            [ngClass]="{ 'is-invalid': inquiryForm.submitted && email_address.invalid }"
                            class="border_input" />
                    </div>


                    <div class="padding_label">
                        <label class="text_color" for="contact">Mobile No:</label>
                        <input placeholder="Enter your contact no." type="tel" id="contact_no" name="contact_no"
                            [(ngModel)]="inquiry_obj.contact_no" #contact_no="ngModel" autocomplete="off" minlength="8"
                            maxlength="15" onlyNumber required class="border_input"
                            [ngClass]="{ 'is-invalid': inquiryForm.submitted && contact_no.invalid }" />
                    </div>


                    <div class="padding_label">
                        <label class="text_color" for="subject">Subject:</label>
                        <input type="text" placeholder="Enter your subject" id="subject" name="subject"
                            [(ngModel)]="inquiry_obj.subject" #subject="ngModel" autocomplete="off" required
                            class="border_input"
                            [ngClass]="{ 'is-invalid': inquiryForm.submitted && subject.invalid }" />
                    </div>


                    <div class="padding_label">
                        <label class="text_color" for="comments">Comments:</label>
                        <textarea placeholder="Enter your message..." rows="5" id="comments" name="comments"
                            autocomplete="off" [(ngModel)]="inquiry_obj.comments" #comments="ngModel"
                            class="border_input"></textarea>
                    </div>


                    <div class="padding_label">
                        <label class="text_color" for="attachment">Attachment:</label>
                        <input class="border_input" type="file" name="attachment[]" id="attachment"
                            accept="application/pdf" required [(ngModel)]="inquiry_obj.attachment" #attachment="ngModel"
                            class="border_input" (change)="onFileChange($event)" />
                    </div>

                    <div class="padding_label">
                        <label class="text_color" for="">Select Category</label>
                        <select  class="border_input" [(ngModel)]="inquiry_obj.category_id" name="category_id"
                            #categoryModel="ngModel" required>
                            <option value="" disabled selected>Select</option>
                            <option *ngFor="let item of categories" [value]="item.id">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>


                    <div [formGroup]="captchaForm" class="padding_label">
                        <label class="text_color">
                            captcha {{ randomNum1 }} + {{ randomNum2 }} =
                        </label>
                        <input class="border_input" type="number" formControlName="answer" required
                            placeholder="Enter the answer" />
                        <button type="button" class="refresh-button" (click)="resetCaptcha()">Refresh</button>


                        <div class="transition_0_2">
                            <div class="validate_gap" *ngIf="successMessage" id="success">
                                <p class="color_green_parrot">{{ successMessage }}</p>
                                <div class="correct_icon">
                                </div>
                            </div>

                            <div class="validate_gap" *ngIf="failMessage" id="fail">
                                <p class="color_red">{{ failMessage }}</p>
                                <div class="correct_icon">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="padding_label">
                        <button class="buttom_border" type="submit" id="sendone" (click)="check_form(inquiryForm.form);">
                            {{ button_text }}
                        </button>
                        <br /><br />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>