/* You can add global styles to this file, and also import other style files */

.toast-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 12px;
    right: 12px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

.toast-message {
    color: var(--color_white);
    font-size: 16px !important;
    font-family: var(--font_assistant_medium) !important;
    letter-spacing: 0.8px;
    line-height: 1.2;
}
.refresh_icon {
    width: 24px;
}

.imput_div {
    /* width: 17%; */
    width: 90px;
}

.input_width {
    background-color: transparent !important;
    border: 1px solid var(--color_light_gray) !important;
    border-radius: 8px !important;
    width: 100%;
    padding: 5px 10px;
    outline: none !important;
}

.msg_top {
    margin-top: 10px;
}

.reset_gap {
    gap: 10px;
    padding-bottom: 18px;
}

.correct_icon {
    width: 20px;
}

.validate_gap {
    display: flex;
    align-items: center;
    gap: 8px;
}
